.tag {
    display: inline-block;
}
.empty-cart-imge{
    width: 40%;
    width: 40%;
}
.add-item-text{
    color: rgb(0, 255, 170) !important;
}
.add-item-btn{
    background-color: rgb(0, 255, 170) !important;
    color: white !important;
    cursor: pointer;
}
.counter-number{
    border: 1px solid #ddd;
    border-radius: 28px 28px;
    /* height: 22px; */
    width: 160px;
    display: inline-block;
}
@media (max-width: 768px) {
    /* .container .navbar-brand{

    } */

}
.webkit-right{
    text-align: -webkit-right;
}
.product-list .product-img{
    height: 100px;
    width: 100px;
    font-size: 10px !important;
}
span {cursor:pointer; }
.number{
    margin:100px;
}
.minus, .plus{
    vertical-align: middle;
    /* margin-left: -15%; */
    font-size: 26px;
}
/* .minus, .plus{
    width:20px;
    height:20px;
    background:#f2f2f2;
    border-radius:4px;
    padding:8px 5px 8px 5px;
    border:1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
} */
.product-list input{
    height: 34px;
    width: 100px;
    text-align: center;
    /* font-size: 26px; */
    border: none;
    /* border-radius: 28px 28px; */
    /* display: inline-block; */
    vertical-align: middle;
}


/* body {
	overflow-x: hidden;
	font-family: Verdana, sans-serif;
} */
.product-list {
	height: 70vh;
	/* overflow-y: scroll; */
}

.blockquote-footer-label{
    display: block;
    font-size: 80%;
    color: #6c757d;
}
.blockquote-footer-label-thrid{
    display: block;
    font-size: 80%;
    font-weight: 500;
    /* color: #6c757d; */
}
.share-img{
    width: 50px;
    height: 50px;
}

.user-product-img{
    width: 100px;
    height: 100px;
}

.share-icon-div{
    display: grid;
    background: #dfdfdf;
    padding: 10px;
}
.product-table td, .product-table th {
    text-align: center;
    vertical-align: middle !important;
}
.user-shop-img{
    width: 100px;
    height: 100px;
}
/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {

    .product-list input {
        height: 22px;
        width: 60px;
        text-align: center;
        font-size: 10px;
        border: 1px solid #ddd;
        border-radius: 28px 28px;
        display: inline-block;
        vertical-align: middle;
    }
    .product-list {
        font-size: 10px;
    }
    .product-list .product-img{
        height: 50px;
        width: 50px;
    }
    .minus, .plus{
        font-size: 18px;
    }
    .card {
        font-size: 10px;
    }
    .add-item-text{
        font-size: 15px !important;
    }
    .share-img {
        width: 30px;
        height: 30px;
    }
    .user-product-quantity p{
        font-size: 10px !important;
    }
    .user-product-price p{
        font-size: 10px !important;
    }
    .shop-info{
        font-size: 10px !important;
    }
    .user-product-total{
        font-size: 13px !important;
    }
    .user-shop-img{
        width: 70px;
        height: 70px;
    }
}
